.Card {
    width: 17.375rem;
    height: 30.25rem;
    background-color: white;
    border-radius: var(--spc-border-17);
    display: flex;
    flex-direction: column;
    gap: 2rem;

    &__image {
        height: 8.5625rem;
        border-radius: 1.0625rem;

        img {
            border-radius: 1.0625rem 1.0625rem 0rem 0rem;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__Title {
        font-family: 'Red Hat Display', sans-serif;
        font-weight: 900;
        font-size: 1.125rem;
        margin-bottom: 1.4375rem;
        color: var(--clr-neutral-dark-blue);
    }

    &__Description {
        text-align: center;
        width: 12.5rem;
        font-size: 0.75rem;
        font-weight: 700;
        font-family: 'Red Hat Display', sans-serif;
        margin-bottom: var(--spc-margin-25);
        color: var(--clr-neutral-desaturated-blue);
    }

    &__Price {
        width: 14.6875rem;
        height: 4.375rem;
        background-color: var(--clr-neutral-very-pale-blue);
        border-radius: var(--spc-border-10);
        padding: 0.75rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: var(--spc-margin-25);

        &--icon {
            width: 2.5625rem;
            height: 2.5625rem;
        }

        &--content {
            font-size: 0.75rem;
            font-weight: 700;
            font-family: 'Red Hat Display', sans-serif;

            span {
                font-size: 0.75rem;
                color: var(--clr-neutral-dark-blue);
                font-weight: 900;
            }

            p {
                font-size: 0.75rem;
                color: var(--clr-neutral-desaturated-blue);
            }
        }

        &--CTA {
            font-size: 0.75rem;
            color: var(--clr-primary-bright-blue);
            text-decoration: underline;
            font-weight: 700;
        }
    }

    &__PriceContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 17px;
    }

    
}