.Card {
    width: 278px;
    height: 484px;
    background-color: white;
    border-radius: var(--spc-border-17);
    display: flex;
    flex-direction: column;
    gap: 32px;

    &__image {
        height: 137px;
        border-radius: 17px;

        img {
            border-radius: 17px 17px 0px 0px;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__Title {
        font-family: 'Red Hat Display', sans-serif;
        font-weight: 900;
        font-size: 18px;
        margin-bottom: 23px;
        color: var(--clr-neutral-dark-blue);
    }

    &__Description {
        text-align: center;
        width: 200px;
        font-size: 12px;
        font-weight: 700;
        font-family: 'Red Hat Display', sans-serif;
        margin-bottom: var(--spc-margin-25);
        color: var(--clr-neutral-desaturated-blue);
    }

    &__Price {
        width: 235px;
        height: 70px;
        background-color: var(--clr-neutral-very-pale-blue);
        border-radius: var(--spc-border-10);
        padding: 12px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: var(--spc-margin-25);

        &--icon {
            width: 41px;
            height: 41px;
        }

        &--content {
            font-size: 12px;
            font-weight: 700;
            font-family: 'Red Hat Display', sans-serif;

            span {
                font-size: 12px;
                color: var(--clr-neutral-dark-blue);
                font-weight: 900;
            }

            p {
                font-size: 12px;
                color: var(--clr-neutral-desaturated-blue);
            }
        }

        &--CTA {
            font-size: 12px;
            color: var(--clr-primary-bright-blue);
            text-decoration: underline;
            font-weight: 700;
        }
    }

    &__PriceContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 17px;
    }

    &__Btn {
        &--Payment {
            height: 42px;
            width: 238px;
            background-color: var(--clr-primary-bright-blue);
            border-radius: var(--spc-border-10);
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: var(--spc-margin-25);
            font-family: 'Red Hat Display', sans-serif;
            font-size: 12px;
            color: white;
            font-weight: 700;
        }

        &--Cancel {
            font-size: 12px;
            font-weight: 900;
            color: var(--clr-neutral-desaturated-blue);

        }
    }
}